body {
	background-color: #FFF;
}
h1 {
	font-family: inherit;
	font-size: 14pt;
	font-style: italic;
	color: #db6619;
}

h2 {margin-bottom: .75em}
#headers {
	position: relative;
	border-bottom: #CCC solid 1px;
    padding-bottom: 10px;
}
#headers span {
	font-weight: bold;
}
#headers span:first-child {
	padding-left: 22px;
}
#headers span + span {
	position: absolute;
	right: 19em;
	width: 5em;
}
#headers span + span + span {
	position: absolute;
	right: 6em;
	width: 12em;
}

ul.jqueryFileTree {
	font-family: "Helvetica Neue", Ariel, Helvetica, sans-serif !important;
	font-size: 1em !important;
	line-height: 2 !important;
}
ul.jqueryFileTree li {
	line-height: 2;
	background-position: left 3px !important;
	position: relative;
}

.jqueryFileTree li.file a {
}
.jqueryFileTree li.file span {
}
.jqueryFileTree li.file span.filename {
	
}
.jqueryFileTree li li.file span.filename {
}
.jqueryFileTree li.file span.filesize {
	position: absolute;
	right: 19em;
	width: 5em;
}
.jqueryFileTree li.file span.mdate {
	position: absolute;
	right: 6em;
	width: 12em;
}
.jqueryFileTree li button.share {
	position: absolute;
	right: 0;
	top: 1px;
	display: none;
	padding: 3px 9px 4px;
	width: 6.25em;
}

/**
 * Extensions!
 */
.jqueryFileTree li.file.ext_tar-gz {background: url('../js/jqueryFileTree/images/zip.png') left top no-repeat; }
.jqueryFileTree li.file.ext_rtf {background: url('../js/jqueryFileTree/images/page.png') left top no-repeat; }
