/*@import url("reset.css") screen, print;*/

/*body {
	margin: 50px;
}

html { font-size:100.01%; }
body {
  font-size: 75%;
  color: #222;
  background: #fff;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  line-height: 1.5;
}*/

/* Headings
-------------------------------------------------------------- */

/*h1,h2,h3,h4,h5,h6 { font-weight: normal; color: #111; }

h1 { font-size: 3em; line-height: 1; margin-bottom: 0.5em; }
h2 { font-size: 2em; margin-bottom: 0.75em; }
h3 { font-size: 1.5em; line-height: 1; margin-bottom: 1em; }
h4 { font-size: 1.2em; line-height: 1.25; margin-bottom: 1.25em; }
h5 { font-size: 1em; font-weight: bold; margin-bottom: 1.5em; }
h6 { font-size: 1em; font-weight: bold; }
*/

h2 {margin-bottom: .75em}
#headers {
	position: relative;
	overflow: hidden;
}
#headers span {
	float: left;
	padding-right: 1em;
}
#headers span:first-child {
	padding-left: 22px;
	width: 27em;
}
#headers span + span {
	width: 10em;
}
#headers span + span + span {
	width: 10em;
}

ul.jqueryFileTree {
	font-family: "Helvetica Neue", Ariel, Helvetica, sans-serif !important;
	font-size: 1em !important;
	line-height: 2 !important;
}
ul.jqueryFileTree li {
	line-height: 2;
	background-position: left 3px !important;
}

.jqueryFileTree li.file a {
	clear: both;
	overflow: hidden;
}
.jqueryFileTree li.file span {
	float: left; 
	padding-right: 1em;
}
.jqueryFileTree li.file span.filename {
	width: 27em;
}
.jqueryFileTree li li.file span.filename {
	width: 17em;
}
.jqueryFileTree li.file span.filesize {
	width: 10em;
}
.jqueryFileTree li.file span.mdate {
	width: 10em;
}

/**
 * Extensions!
 */
.jqueryFileTree li.file.ext_tar-gz {background: url('../js/jqueryFileTree/images/zip.png') left top no-repeat; }
.jqueryFileTree li.file.ext_rtf {background: url('../js/jqueryFileTree/images/page.png') left top no-repeat; }
